@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

button, body{
    font-family: "Open Sans", sans-serif;
}

div#cookiez{
    text-align: center;
    position: absolute;
    bottom: 0%;
    padding-bottom: 4px;
    padding-left: 4px;
    font-size: larger;
    visibility: hidden;
}

body#dark{
    background-color: #222;
    color: white;
}

#🗿🗿{
    position: absolute; /* or absolute */
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

#🗿🗿🗿 {
    font-size: 36px;
}